body {
    font-family: Merriweather, sans-serif;
    font-size: 18px;
    font-weight: 600;
    background: #f5efe0;
    color: #0045b7;
    margin: 0 auto;
    min-width: auto;
    max-width: 52.67rem;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    color: #d40732;
    font-size: 32px;
    margin-block-end: 0;
}

.day {
    margin-block-start: 30px;
}

.event {
    padding: 12px;
    margin: 8px 0;
    background: #dcd3ca;
    border-radius: 8px;
}

/* Past events */
.event.past {
    margin: 4px 0;
    padding: 6px;
}

.event.live {
    background: #ffc4d3;
    position: relative;
    overflow: hidden;
}

.live-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-block-end: 3px;
    margin-inline-end: 6.5px;
    border-radius: 100%;
    background: #d40732;
    position: relative;
}

/* Pulse ring */
.live-dot::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100%;
    background: rgba(212, 7, 50, 0.5);
    animation: pulse-dot 5s ease-out infinite 2.5s;
}

/* Smooth + GPU-friendly */
@keyframes pulse-dot {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    67% {
        transform: scale(3);
        opacity: 0;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.countdown {
    color: #d40732;
    font-weight: bold;
}
